import * as React from 'react';
import style from './{{ properCase name }}.module.scss';

type {{ properCase name }}Props = {};

const {{ properCase name }}: React.FC<{{ properCase name }}Props> = (props) => {
  return (
    <div className={style.root}>
      <h1>{{ properCase this.name }}</h1>
    </div>
  )
};

export default React.memo({{ properCase name }});